# Ignore all node_modules
node_modules
**/node_modules

#Ignore all files *log.txt
**/*log.txt

hyperledger-fabric-setup/bin
hyperledger-fabric-setup/builders
hyperledger-fabric-setup/container-data

